<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-bar-responsive" (click)="myfunction()">
            <mat-icon>reorder</mat-icon>
        </div>
        <div
            class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
            <app-menu></app-menu>
        </div>
        <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-area">
            <div class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
                <div class="grid grid-cols-12 items-center h-full">
                    <div class="col-span-12">
                        <app-header></app-header>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
            <div class="inventual-breadcrumb-area-inner px-0.5">
                <h5 class="text-[20px] text-heading font-bold mb-3">Registrar Venta</h5>
                <div class="inventual-breadcrumb-area-inner-wrap">
                    <span class="text-[14px] text-body font-normal inline-block me-2">Venta</span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">></span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">Registrar Venta</span>
                </div>
            </div>
        </div>
        <div class="inventual-content-area px-7">
            <div class="inventual-addsupplier-area bg-white p-7 custom-shadow rounded-8 mb-5">
                <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                    <div class="col-span-4 md:col-span-6 sm:col-span-12">
                        <div class="inventual-select-field mb-5">
                            <h5 class="text-[15px] text-heading font-semibold mb-3">Nombre Cliente</h5>
                            <div class="inventual-select-field-style">
                                <mat-form-field>
                                    <mat-select class="block" [placeholder]="'General'">
                                        <mat-option value="language-1">Luis Fonsi</mat-option>
                                        <mat-option value="language-2">Valencia Damaris</mat-option>
                                        <mat-option value="language-3">Jose Perez</mat-option>
                                        <mat-option value="language-4">Ignacio Paredes</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-12 sm:col-span-12" style="background-color: antiquewhite; padding: 20px;">
                        <!-- detalle-venta.component.html -->
                        <form [formGroup]="ventaForm" (ngSubmit)="onSubmit()">
                            <div formArrayName="detalles">
                                <div *ngFor="let detalle of detalles.controls; let i = index" [formGroupName]="i">
                                    <div class="detalle-item">
                                        <h3>Detalle #{{ i + 1 }}</h3>
    
                                        <div class="form-group">
                                            <div class="col-span-4 md:col-span-6 sm:col-span-12">
                                              <div class="inventual-select-field mb-5">
                                                <h5 class="text-[15px] text-heading font-semibold mb-3">Producto:</h5>
                                                <div class="inventual-input-field-style">
                                                  <mat-form-field class="w-full" [floatLabel]="'always'">
                                                    <mat-label class="hidden">New York</mat-label>
                                                    <input matInput [placeholder]="'Zona sur, obrajes'">
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <div class="col-span-4 md:col-span-6 sm:col-span-12">
                                              <div class="inventual-select-field mb-5">
                                                <h5 class="text-[15px] text-heading font-semibold mb-3">Cantidad:</h5>
                                                <div class="inventual-input-field-style">
                                                  <mat-form-field class="w-full" [floatLabel]="'always'">
                                                    <mat-label class="hidden">New York</mat-label>
                                                    <input matInput type="number" [placeholder]="'Ej. 12'">
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <div class="col-span-4 md:col-span-6 sm:col-span-12">
                                              <div class="inventual-select-field mb-5">
                                                <h5 class="text-[15px] text-heading font-semibold mb-3">Precio unitario: 15bs</h5>
                                              </div>
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <label>Lote Inventario: 104</label>
                                        </div>
                                        <div class="inventual-material-btn pt-2.5 justify-end">
                                            <button mat-raised-button color="warn" (click)="eliminarDetalle(i)">Eliminar Item</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="button-group">
                                <div class="inventual-material-btn pt-2.5 justify-end">
                                    <button mat-raised-button color="primary" (click)="agregarDetalle()">Agregar Detalle</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-span-12 md:col-span-12 sm:col-span-12">
                        <!-- Agrega esto en el template -->
                        <div class="total-section">
                          <h4>Total de la Venta: {{ calcularTotal() | currency }}</h4>
                        </div>
                    </div>
                    <div class="col-span-12">
                        <div class="inventual-material-btn pt-2.5 justify-end">
                            <button mat-raised-button color="primary">Registrar Vendedor</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventual-copyright-area pt-28 xl:pt-0 lg:pt-0 md:pt-0 sm:pt-0">
            <app-copyright></app-copyright>
        </div>
    </div>
</div>