<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-bar-responsive" (click)="myfunction()">
        <mat-icon>reorder</mat-icon>
      </div>
      <div class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
        <app-menu></app-menu>
      </div>
      <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-area">
        <div class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
          <div class="grid grid-cols-12 items-center h-full">
            <div class="col-span-12">
              <app-header></app-header>
            </div>
          </div>
        </div>
      </div>
          <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
              <div class="inventual-breadcrumb-area-inner px-0.5">
                  <h5 class="text-[20px] text-heading font-bold mb-3">Registrar Orden de Compra</h5>
                  <div class="inventual-breadcrumb-area-inner-wrap">
                      <span class="text-[14px] text-body font-normal inline-block me-2">Pedidos</span>
                      <span class="text-[14px] text-body font-normal inline-block me-2">></span>
                      <span class="text-[14px] text-body font-normal inline-block me-2">Registrar Orden de Compra</span>
                  </div>
              </div>
          </div>
          <div class="inventual-content-area px-7">
             <div class="inventual-addsupplier-area bg-white p-7 custom-shadow rounded-8 mb-5">
               <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                  <div class="col-span-4 md:col-span-6 sm:col-span-12">
                   <div class="inventual-select-field mb-5">
                     <h5 class="text-[15px] text-heading font-semibold mb-3">Cantidad</h5>
                     <div class="inventual-input-field-style">
                       <mat-form-field class="w-full" [floatLabel]="'always'">
                         <mat-label class="hidden">Joseph Tylor</mat-label>
                         <input matInput [placeholder]="'Ej. 3'">
                       </mat-form-field>
                     </div>
                   </div>
                 </div>
                 <div class="col-span-4 md:col-span-6 sm:col-span-12">
                   <div class="inventual-calender-field mb-5">
                     <h5 class="text-[15px] text-heading font-semibold mb-3">Fecha Orden</h5>
                     <div class="inventual-calender-field-style">
                       <mat-form-field appearance="fill" floatLabel="always">
                         <mat-label class="hidden">Choose a date</mat-label>
                         <input matInput [matDatepicker]="picker" [placeholder]="'MM/DD/YYYY'">
                         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                         <mat-datepicker #picker></mat-datepicker>
                       </mat-form-field>
                     </div>
                   </div>
                 </div>
                 <div class="col-span-4 md:col-span-6 sm:col-span-12">
                   <div class="inventual-select-field mb-5">
                     <h5 class="text-[15px] text-heading font-semibold mb-3">Personal</h5>
                     <div class="inventual-select-field-style">
                       <mat-form-field>
                         <mat-select class="block" [placeholder]="'General'">
                           <mat-option value="language-1">Juan Perez</mat-option>
                           <mat-option value="language-2">Rosa Paredes</mat-option>
                           <mat-option value="language-3">Ignacio Chavez</mat-option>
                           <mat-option value="language-4">Lucia Quispe</mat-option>
                           <mat-option value="language-4">Alberto Flores</mat-option>
                         </mat-select>
                       </mat-form-field>
                     </div>
                   </div>
                 </div>
                 <div class="col-span-4 md:col-span-6 sm:col-span-12">
                   <div class="inventual-select-field mb-5">
                     <h5 class="text-[15px] text-heading font-semibold mb-3">Proveedores Id</h5>
                     <div class="inventual-select-field-style">
                       <mat-form-field>
                         <mat-select class="block" [placeholder]="'General'">
                           <mat-option value="language-1">Proveedor 1</mat-option>
                           <mat-option value="language-2">Proveedor 2</mat-option>
                           <mat-option value="language-3">Proveedor 3</mat-option>
                           <mat-option value="language-4">Proveedor 4</mat-option>
                           <mat-option value="language-4">Proveedor 5</mat-option>
                         </mat-select>
                       </mat-form-field>
                     </div>
                   </div>
                 </div>
                 <div class="col-span-4 md:col-span-6 sm:col-span-12">
                   <div class="inventual-select-field mb-5">
                     <h5 class="text-[15px] text-heading font-semibold mb-3">Vendedores Id</h5>
                     <div class="inventual-select-field-style">
                       <mat-form-field>
                         <mat-select class="block" [placeholder]="'General'">
                            <mat-option value="language-1">Vendedor 1</mat-option>
                            <mat-option value="language-2">Vendedor 2</mat-option>
                            <mat-option value="language-3">Vendedor 3</mat-option>
                            <mat-option value="language-4">Vendedor 4</mat-option>
                            <mat-option value="language-4">Vendedor 5</mat-option>
                         </mat-select>
                       </mat-form-field>
                     </div>
                   </div>
                 </div>
                 <div class="col-span-4 md:col-span-6 sm:col-span-12">
                   <div class="inventual-select-field mb-5">
                     <h5 class="text-[15px] text-heading font-semibold mb-3">Productos</h5>
                     <div class="inventual-select-field-style">
                       <mat-form-field>
                         <mat-select class="block" [placeholder]="'General'">
                            <mat-option value="language-1">Leche</mat-option>
                            <mat-option value="language-2">Cafe</mat-option>
                            <mat-option value="language-3">Harina</mat-option>
                            <mat-option value="language-4">Coca Cola</mat-option>
                            <mat-option value="language-4">Chocolates</mat-option>
                         </mat-select>
                       </mat-form-field>
                     </div>
                   </div>
                 </div>
                 <div class="col-span-4 md:col-span-6 sm:col-span-12">
                   <div class="inventual-select-field mb-5">
                     <h5 class="text-[15px] text-heading font-semibold mb-3">Costo Total</h5>
                     <div class="inventual-input-field-style">
                       <mat-form-field class="w-full" [floatLabel]="'always'">
                         <mat-label class="hidden">Malmate Station</mat-label>
                         <input matInput [placeholder]="'368.5'">
                       </mat-form-field>
                     </div>
                   </div>
                 </div>
                <div class="col-span-12">
                  <div class="inventual-material-btn pt-2.5 justify-end">
                      <button mat-raised-button color="primary">Registrar Orden</button>
                 </div>
                </div>
              </div>
             </div>
          </div>
          <div class="inventual-copyright-area pt-28 xl:pt-0 lg:pt-0 md:pt-0 sm:pt-0">
              <app-copyright></app-copyright>
          </div>
      </div>
    </div>